* {
  box-sizing: border-box;
  margin: 0 auto;
}

nav {
  background-color: none;
  text-align: center;
  border-bottom: 1px solid #222;
  font-family: 'Lato', sans-serif;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  background-color: none;
}

img {
  display: block;
}

#front-end {
  text-align: center;
}

btn:hover, .btn-large:hover {
    background-color: white;
}
.btn, .btn-large {
    text-decoration: none;
    color: #111;
    background-color: white;
    text-align:
  }
.dropdown-button btn{
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  border: 0;
  padding: 0;
  background-color: white;
}
/*.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}*/
/*
#menu, #menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu {
  width: 960px;
  border: 1px solid #222;
  margin: 60px auto;
  background-color: #111;

  border-radius: 6px;

}*/

/*#menu:before,
#menu:after {
  content: "";
  display: table;
}

#menu:after {
  clear: both;
}

#menu {
  zoom: 1;
}

#menu li {
  float: left;
  border-bottom: 1px solid #222;
  box-shadow: 1px 0 0 #444;
  position: relative;
}*/

/*#menu a {
  float: left;
  padding: 12px 30px;
  color: #111;
  text-transform: uppercase;
  font: bold 12px Arial, Helvetica;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}*/

/*#menu li:hover > a {
  color: rgb(158, 0, 87);
  border-bottom: 1px solid #111;
}

#code li:hover > a {
  border-bottom: none;

}

#menu ul {
  margin: 20px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  background: #999;

  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  transition: all .2s linear;
}*/

/*#menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

#menu ul ul {
  top: 0;
  left: 150px;
  margin: 0 0 0 20px;
}

#menu ul li {
  float: none;
  display: block;
  border: 0;
}

#menu ul a {
  padding: 10px;
  width: 130px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

#menu ul a:hover {
  background-color: rgb(182, 213, 236);
}

#menu ul li:first-child > a::after {
  content: '';
  position: absolute;
  left: 40px;
  top: -5px;

}*/
